---
import Layout from '../layouts/BlogPost.astro';
import GlowLineSeparator from '@/components/ui/separator/GlowLineSeparator.astro';
const pageTitle = 'About Me';
const pageDescription = 'Learn more about my background, this site, and my skills.';
---

<Layout title={pageTitle} description={pageDescription} pubDate={new Date()} showHeader={false}>
<p>
I'm a dedicated developer, writer, and creator with a deep seated love of learning and research. From my earliest days, I have eagerly dived in on anything of interest and built out a diverse and powerful skill set. In my early teens that was my first explorations into Linux and Blender 2.49 - before it became the open source juggernaut it is today.
</p>
<p>
  Over the decade and change of my career I have continued with that same dedication and eagerness to learn and do more. I built out automation tools to speed the workflow at my first tech job for a wholesaler, built websites for local small businesses, worked with billion dollar companies on their training programs, and delivered excellence at every turn.
</p>
<p>
  My work demonstrates a powerful work ethic, broad skills, and an exceptional ability to both learn and adapt to new challenges and technology. In my decade of freelancing, I have earned continuous 5 Star reviews and high praise for going above and beyond to get the job done and deliver a better product - whether written reports, research, animations, documentation, or better workflows.
</p>
<p>
  I'm looking for a change.
</p>
<p>
  After a decade in freelance animation, development, writing, and graphic design, I am focusing on work as a full-time technical writer. Much of my work was internal company documents, covered by an NDA, or just plain lost to time. Three of the websites I wrote articles for have since shutdown and ceased operation. This site is my new public facing portfolio with an in-progress course on how to build and deploy a site in Astro.js.
</p>
<p>
  If you're interested in coming along for the ride, follow the RSS Link below, <a href="https://bsky.app/profile/hirethis.one">follow me on Blue Sky</a>, or connect with me on <a href="https://linkedin.com/in/NXSam">LinkedIn.</a> There will also of course be regular updates here on the site as I add to <a href="/guides">my Guides</a> and post <a href="/blog/">blogs.</a>
</p>

  <GlowLineSeparator />

</Layout>
