---
import Layout from '../layouts/BlogPost.astro';
import GlowLineSeparator from '@/components/ui/separator/GlowLineSeparator.astro';
const pageTitle = 'Resume';
const pageDescription = 'Learn more about my background and work history.';
---

<Layout title={pageTitle} description={pageDescription} pubDate={new Date()} showHeader={false}>
<p>
Hello potential Recruiter, Employer, or Team!
</p>
<p>
I'm a problem solver. My skills stem from a career of constantly taking on new challenges and persisting until they were solved. In my freelance work my clients needed models, animations, websites, marketing, graphics, and custom solutions to their problem. It was my job to find, document, and implement those solutions, whether modifying an open source platform or carrying a video from ideation to completion. Having me on your team is having a guy dedicated to delivering and making the team's life easier.
</p>
<br>
<p>
    My skills are looking for a new place to work. I've spent a decade freelancing and as much as I love the work, I don't like the instability it brings. I would be an asset in a dozen different fields, bringing a strong background in tech, media, and writing to your team.
</p>
<br>

<p>
    Key Writing Samples:
    <ul>
        <li><a href="/guides/getting-started/">My Course on Web Development</a></li>
        <li><a href="https://web.archive.org/web/20220624221540/https://blog.procureinc.us/">The Procure Inc Blog</a>, especially my <a href="https://web.archive.org/web/20220519180029/https://blog.procureinc.us/category/hvac-history/">HVAC History series</a></li>
    </ul>

    My work strives to inform an audience, not just in the step by step procedures, but the reasons and ways our technology works. Anyone can follow a checklist, but someone who understands a system, can master it and use it almost by intuition alone.
    

</p>


<p>
    <br>
    My resume covers a brief summary of my work experiences, with case studies about my experiences <a href="/portfolio">on my projects page.</a>
    Feel free to reach out via <a href="mailto:samc@hirethis.one">email</a>, <a href="https://linkedin.com/in/NXSam">LinkedIn</a>, <a href="https://github.com/NXSam">Github</a> or <a href="https://bsky.app/profile/hirethis.one">BlueSky</a>. 

</p>
<div class="full-width">
    <object class="pdf mx-auto" style=""
            data=
"/downloads/SamCosta-TechnicalWriter.pdf"
            width="80%"
            height="1000px">
    </object>
</div>





  <GlowLineSeparator />

</Layout>

<style>
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
</style>